<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<div id="app">
			<form action="">
				<input type="text" v-model="opciones" /><br />
				<input type="checkbox" value="opcion-1" v-model="opciones" />Opcion 1
				<input type="checkbox" value="opcion-2" v-model="opciones" />Opcion 2
				<input type="checkbox" value="opcion-3" v-model="opciones" />Opcion 3
				<p>Usted selecciono {{ opciones.join(",") }}</p>
			</form>
		</div>

		<script>
			let app = new Vue({
				el: '#app',
				data: {
					opciones: [],
					txtentrada: 'hola mundo',
				},
			});
		</script>
	</body>
</html>
