<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<div id="app">
			<p v-if="show">Hola usuario</p>
			<p v-else>Bye</p>
		</div>

		<div v-show="esAdmin">
			<span>Hola admin</span>
			<li v-for="usuario in usuarios">{{usuario.nombre}}</li>
		</div>

		<script>
			let app = new Vue({
				el: '#app',
				data: {
					mensaje: 'Buenos dias Sr.Alex',
					contador: 7,
					esActivo: false,
					show: false,
					premiun: false,
					usuarios: [{ nombre: 'Alejandro' }, { nombre: 'Juanito' }],
				},
			});
		</script>
	</body>
</html>
