<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<div id="app">
			<ul>
				<li v-for="(animal, i) in name_animales">El {{animal}} hace {{sonidos[i]}}</li>
			</ul>
			<hr />
			<ul>
				<li>El {{animales[0].nombre}} hace {{animales[0].sonido}}</li>
			</ul>
			<hr />
			<lu>
				<li v-for="animal in animales">El {{animal.nombre}} hace {{animal.sonido}}</li>
			</lu>

			<hr />
			<lu>
				<li v-for="(sonido, nombre) in animalesx">El {{nombre}} hace {{sonido}}</li>
			</lu>
		</div>

		<script>
			let app = new Vue({
				el: '#app',
				data: {
					animales: [
						{ nombre: 'perro', sonido: 'woof' },
						{ nombre: 'gato', sonido: 'miau' },
						{ nombre: 'pajaro', sonido: 'tweet' },
					],
					animalesx: { perro: 'woof', gato: 'miau', pajaro: 'tweet' },
					name_animales: ['perro', 'gato', 'pajaro'],
					sonidos: ['woof', 'miau', 'tweet'],
				},
			});
		</script>
	</body>
</html>
