<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<div id="app">
			<p>
				<code>v-if</code>: Tiene un funcionamiento similar a <code>v-show</code> cuando ocupamos
				<strong>v-show</strong> dentro del contenedor aplica un <code>style:'display:none'</code>. Cuando
				ocupamos <strong>v-if</strong> es no renderizar el contenedor dentro del DOM este no existira.
				Este puede estar acompañado de su contra el <code>v-else</code>
			</p>

			<input type="text" placeholder="Introduce su edad"/ v-model="txtEdad">
			<p v-if="esMayordEdad">Bienvenido al Bar de chicas</p>
			<p v-else>Usted no es mayor de edad -_-</p>
		</div>

		<script>
			let app = new Vue({
				el: '#app',
				data: {
					txtEdad: 20,
				},
				computed: {
					esMayordEdad() {
						return parseInt(this.txtEdad) > 18 ? true : false;
					},
				},
			});
		</script>
	</body>
</html>
